{% extends "base.html" %}


{% block content %}
<div class="container py-5">
   <div class="row justify-content-center">
    <div class="col-6">
      <div class="ratio ratio-16x9">
        <iframe src="{{ embed }}" title="{{ title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <p class="mt-2">{{ title }}</p>
    </div>
      <div class="col-6">
        <h6 class="mb-2">MP4 Format:</h6>
        {% for x in source %}
            <a href="{% url 'download_done' x.itag %}" class="btn btn-outline-primary rounded-pill px-4 me-2 mb-3">{{ x.resolution }}<i class="fa-solid fa-download ms-2"></i></a>
        {% endfor %}
        <h6 class="mb-2">Audio:</h6>
        {% for a in audio_format %}
          <a href="{% url 'download_done' a.itag %}" class="btn btn-outline-primary rounded-pill px-4 me-2 mb-3">{{ a.abr }}<i class="fa-solid fa-download ms-2"></i></a>
        {% endfor %}
        <h6 class="mb-2">WebM (Video Only):</h6>
        {% for w in webm_format %}
          <a href="{% url 'download_done' w.itag %}" class="btn btn-outline-primary rounded-pill px-4 me-2 mb-3">{{ w.resolution }}<i class="fa-solid fa-download ms-2"></i></a>
        {% endfor %}
      </div>
   </div>
</div>
{% endblock %}