{% extends "base.html" %}


{% block content %}
<div class="container py-5">
   <div class="row justify-content-center">
    <div class="col-6">
      <div class="ratio ratio-16x9">
        <iframe src="{{ embed }}" title="{{ title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <p class="mt-2">{{ title }}</p>
    </div>
    <div class="col-6">
      <h6>MP4 Format:</h6>
      {% for x in source %}
        {% if x.mime_type == 'video' %}
        <h6>MP4 (Video Only):</h6>
          <a href="#" class="btn btn-outline-primary rounded-pill px-4 me-2">{{ x.resolution }}<i class="fa-solid fa-download ms-2"></i></a>
        {% elif x.mime_type == 'audio' %}
        <h6>Audio:</h6>
          <a href="#" class="btn btn-outline-primary rounded-pill px-4 me-2">{{ x.abr }}<i class="fa-solid fa-download ms-2"></i></a>
        {% else %}
        <h6>WebM (Video Only):</h6>
        <a href="#" class="btn btn-outline-primary rounded-pill px-4 me-2">{{ x.resolution }}<i class="fa-solid fa-download ms-2"></i></a>
        <!-- <h6>3GP</h6>
        <a href="#" class="btn btn-outline-primary rounded-pill px-4 me-2">{{ x.abr }}<i class="fa-solid fa-download ms-2"></i></a> -->
        {% endif %}
      {% endfor %}
    </div>
   </div>
</div>
{% endblock %}